---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import {slugify} from "../../tools/utils";

const {slug} = Astro.params
const {tag} = Astro.props

const allPosts = await getCollection("blog");
export async function getStaticPaths(){
  let tagList: string | any[] = [];
  const allPosts = await getCollection("blog");
  
  allPosts.forEach(post => {
    post.data.tags?.forEach(tag => {
        if(!tagList.find(tagToFind => tagToFind.tag === tag)){
            tagList.push({"tag": tag, "slug": slugify(tag)})
        }
    })
  });

  let paramList: any[] = []
  tagList.forEach(tagObj => {
    paramList.push(
      {
        params: {tag: tagObj.slug},
        props: {tag: tagObj.tag}
      }
    )
  })
  console.log(paramList)

  return paramList;
}

let filteredPosts: any[] = []

allPosts.map((post) => {
  let postTagSlugs = post.data?.tags?.map( str => slugify(str))
  console.log(postTagSlugs)
  if(postTagSlugs?.includes(slugify(tag))){
    filteredPosts.push(post)
  }
})
---
<Layout>
    <ul>
        <h2>{tag}</h2>
        {
            filteredPosts.map((post)=>(
                <li><a href={"/blog/" + post.id}>{post.data.title}</a></li>
            ))
        }
    </ul>
</Layout>