---
import Layout from "./Layout.astro";
import {slugify} from "../tools/utils";

const months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

function formatDate(date: string){
    const postDate = new Date(date)
    const monthInt = postDate.getMonth()
    return months[monthInt] + " " + postDate.getDate() + ", " + postDate.getFullYear()
}

const { frontmatter } = Astro.props;
const { title, date, category, author, tags} = frontmatter;
const processedDate = formatDate(date)
---

<Layout title={title}>
    <div class="postContainer">
        <h3 style=`font-family: "Libre Franklin", "Helvetica Neue", "helvetica", "arial", "sans-serif"; font-weight: "bold"`>
            {title}
        </h3>
        <strong style=`font-family: "Libre Franklin", "Helvetica Neue", helvetica`>{processedDate}</strong>
        <br />
        
        <br />
            <slot />
        <br />
        <span>{category}</span>
        <br />
        {
            tags && (tags.map((tag:any) => (<span><a href={"/tag/" + slugify(tag)}>{tag}</a></span><br />)))
        }
    </div>
</Layout>

<style is:global>
    .postContainer{
        position: relative;
    }
    .postContainer>p>img{
        display: block;
        max-height: 95vh;
        max-width: 100%;
        width: auto;
    }
</style>