---
import Layout from "./Layout.astro";
import {slugify, formatDate, monthToName} from "../tools/utils";

const { frontmatter } = Astro.props;
const { title, date, category, tags} = frontmatter;
const processedDate = formatDate(date)
let month = processedDate.month + 1
let monthF
if(month < 10){
    monthF = "0" + month
}else{
    monthF = month
}

---

<Layout title={title}>
    <div class="postContainer">
        <h3 style=`font-family: "Libre Franklin", "Helvetica Neue", "helvetica", "arial", "sans-serif"; font-weight: "bold"`>
            {title}
        </h3>
        <strong style=`font-family: "Libre Franklin", "Helvetica Neue", helvetica`>
            <a href={"/blog/" + processedDate.year}>{processedDate.year}</a>
            {" "}
            <a href={"/blog/" + processedDate.year + "/" + monthF}>{monthToName(processedDate.month)}</a>
            {" "}
            {processedDate.date} in 
            <a href={"/category/" + slugify(category)}>{category}</a>
        </strong>
        <br />
        
        <br />
            <slot />
        <br />
        {
            tags && (tags.map((tag:any) => (<span><a href={"/tag/" + slugify(tag)}>{tag}</a></span><br />)))
        }
    </div>
</Layout>

<style is:global>
    .postContainer{
        position: relative;
    }
    .postContainer>p>img{
        display: block;
        max-height: 95vh;
        max-width: 100%;
        width: auto;
    }
</style>